// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    text-align: center;
  }
  a {
    font-size: 20px;
    color: #acabab;
  }
  h1 {font-size: 50px;
  }
  .main {
    font-size: 25px;
  }